.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px dashed #d7dde9;

  padding: 16px;
}

.task:hover {
  cursor: pointer;
  outline: none;
  border: 1px solid #f7f9fd;
  background: #f7f9fd;
}

.taskCheckboxAndText {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1;
  min-width: 0;
}

.taskDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: var(--line-height-text);
  color: var(--text-color);
  letter-spacing: var(--letter-spacing);
  word-break: break-word;
  overflow-wrap: break-word;
  flex: 1;
  min-width: 0;
}

.completedTaskDescription {
  font-size: 16px;
  line-height: var(--line-height-text);
  font-weight: 400;
  letter-spacing: var(--letter-spacing);
  color: #0000008a;
  text-decoration: line-through;
}

.taskDeleteIcon {
  flex-shrink: 0;
  margin-left: 16px;
}

@media screen and (max-width: 768px) {
  .task {
    gap: 8px;
  }
}
