@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500&display=swap");

:root {
  --background-color: #ffffff;
  --text-color: #000000;

  --button-add-new-task: linear-gradient(90deg, #0796d3 0%, #53c0f0 68.65%);
  --button-delete-task: linear-gradient(90deg, #d30707 0%, #f05353 68.65%);

  --letter-spacing: -0.32px;

  --line-height-text: 19px;
}

:focus {
  outline: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

body,
input,
textarea,
button {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .app {
    margin-top: 24px;
  }
}
