.header {
  display: flex;
  align-items: center;
  max-width: 1328px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #d7dde9;
  padding: 24px 0;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10.44px;
}

.welcomeMessage {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.32px;
  line-height: 29px;
}

.dateOfTheDay {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.32px;
  text-align: left;
  color: #0000008a;
}
