.header {
  display: flex;
  align-items: center;
  max-width: 1328px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #d7dde9;
  padding: 24px 0;
}

.headerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  gap: 10.44px;
}

.welcomeMessage {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  line-height: 29px;
  text-align: center;
}

.dateOfTheDay {
  position: absolute;
  right: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: var(--line-height-text);
  letter-spacing: var(--letter-spacing);
  text-align: left;
  color: #0000008a;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 272px;
  }
  .headerContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .logo,
  .welcomeMessage,
  .dateOfTheDay {
    position: static;
    width: auto;
    font-size: 16px;
    line-height: 19px;
  }
  .welcomeMessage {
    text-align: start;
  }
}
